header {
  background-color: black;
  color: white;
  text-align: center;
}

.navbar-brand {
  text-align: center;
  border: 3px solid white;
  margin-left: 5px;
  padding: 5px;

}

ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: inherit; 
  text-decoration:none; 
}

.navbar {
  height: 10vh;
  border-bottom: .3vh solid white;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

main {
  margin-top: 10.5vh;
}

.nav-right {
  position: absolute;
  right: 5px;
}


.left {
  height: 90vh;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  height: 90vh;
  background-color: rgb(227, 199, 165);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 3px solid white;
}

.auth-form {
padding: 30px;
width: 30vw;
font-size: 1.5em;
}

.auth-button {
  margin-top: 15px;
  width: 15vw;
  height: 40px;
  margin-bottom: 20px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   */
}

.form-check {
  text-align: left;
  font-size: .75em;
  display: inline-block;
}

.setup {
  background-color: black;
  min-height: 90vh;

}

.setup-form {
  background-color: rgb(227, 199, 165);
  border-left: 3px solid white;
  border-right: 3px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  min-height: 90vh;
}

.form-control {
  width: 30vw;
}

.form-label{
  margin: 5px;
}

.homepage-search {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 199, 165);
  border-bottom: 3px solid black;
}


.search-form {
  display: flex;
  flex-direction: row;
  width: 40vw
}

.featureImage{
  max-width: 25vw;
  max-height: 20vh;
  border: 1px solid white;
}

.featuredSection {
  background-color: black;
  color: white;
  border-left: 3px solid white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
border-top: 1px solid white;
color: white;
}

.search-select{
  width: 20vw;
}

.search-results {
  background-color:  #e3c7a5;
  min-height: 90vh;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

.individual-results {
  padding: 5px 5px;
  margin-top: 5px;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  background-color: #292929;
  color: white;
  border-radius: 5px;
}

.results-header{
  margin-left: 7.5vw;
}

.search-left, .search-right{
  min-height: 90vh;
  background-color: black;
}

.profile-info{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  border-right: 3px solid white;
  /* max-height: 90vh; */
  position: fixed;
  top: 10vh;
  left: 0;
}

.profileImage {
  max-width: 20vw;
  max-height: 30vh;
  border: 1px solid white;
}

.image-section{
  min-height: 90vh;
  background-color: rgb(227, 199, 165);

}
 .works-favorites{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

.work-image{
  max-width: 40vw;
  max-height: 35vh;
  margin: auto 20px;
  border: 1px solid black;
}
.single-header {
  margin-top: 10px;
  display: block;
  text-align: center;
}