<h1>New Work</h1>

<form action="/works/create" method="post" enctype="multipart/form-data">
<label for="title">Title:</label>
<input type="text" name="title" id="title" required>
<label for="createdDate">Year created:</label>
<input type="text" name="createdDate" id="createdDate" required>
<label for="description">Description</label>
<input type="text" name="description" id="description" required>
<label for="addImage">Add Image</label>
<input id="imageUpload" type="file" name="imageUpload" required />
<input type="submit" value="Submit">

</form>