<div class = 'row'>

<div class = 'setup col'></div>

<div class= 'setup-form col-7'>
<h1>Edit Work</h1>

<form action="/works/edit/<%= work.id%>?_method=PUT" method="post">
    <label for="title" class="form-label">Title:</label>
    <input type="text" name="title" id="title" value='<%= work.title %>' class="form-control" required>
    <label for="yearCreated" class="form-label">Year created:</label>
    <input type="text" name="yearCreated" id="yearCreated" value='<%= work.yearCreated %>' class="form-control" required>
    <label for="description" class="form-label">Description:</label>
    <input type="text" name="description" id="description" value='<%= work.description %>' class="form-control" required>
    <label for="discipline" class="form-label">Discipline:</label>
    <select name="discipline" id="discipline" class='form-select' class="form-control" required>
        <option value="digital">Digital</option>
        <option value="drawing">Drawing</option>
        <option value="painting">Painting</option>
        <option value="photography">Photography</option>
        <option value="printmaking">Printmaking</option>
        <option value="sculpture">Sculpture</option>  
        <option value="other">Other</option>
      </select>
 <input type="submit" value="Save Changes" class = 'auth-button'>
</form>
</div>
 <div class = 'setup col'></div>

</div>