<h1>Artist Setup</h1>

<form action="/artists/setup?_method=PUT" method="post" >
<label for="first_name">First Name:</label>
<input type="text" name="first_name" id="first_name" required>
<label for="last_name">Last Name:</label>
<input type="text" name="last_name" id="last_name" required>
<label for="city">City:</label>
<input type="city" name="city" id="city" required>
<label for="state">State:</label>
<input type="text" name="state" id="state" required>
<label for="age">Age:</label>
<input type="text" name="age" id="age" required>
<label for="bio">Bio:</label>
<input type="text" name="bio" id="bio" required>
<label for="profileImage">Add Profile Image</label>
<input id="imageUpload" type="file" name="imageUpload" />
<input type="hidden" name="setupComplete" value='true'>
<input type="submit" value="Create Profile">
</form>