
<div class='row'>
<div class= 'setup col'></div>

<div class = 'setup-form col-7'>
    <h1>Artist Setup</h1>

<form action="/artists/setup?_method=PUT" method="post" enctype="multipart/form-data">
<label for="first_name" class="form-label">First Name:</label>
<input type="text" name="first_name" id="first_name" class="form-control" required>
<label for="last_name" class="form-label">Last Name:</label>
<input type="text" name="last_name" id="last_name" class="form-control" required>
<label for="city" class="form-label">City:</label>
<input type="city" name="city" id="city" class="form-control" required>
<label for="state" class="form-label">State:</label>
<input type="text" name="state" id="state" class="form-control" required>
<label for="age" class="form-label">Age:</label>
<input type="text" name="age" id="age" class="form-control" required>
<label for="bio" class="form-label">Bio:</label>
<input type="text" name="bio" id="bio" class="form-control" required>
<label for="profileImage" class="form-label">Add Profile Image</label>
<input id="imageUpload" type="file" name="imageUpload" class="form-control" required/>
<input type="hidden" name="setupComplete" value='true'>
<input type="submit" class='auth-button' value="Create Profile">
</form>

</div>

<div class= 'setup col'></div>
</div>